.grid-item {
  background-color:whitesmoke;
  border: .25px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 18px;
  font-weight: bold;
}
.grid-item2 {
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 14px;
}
.grid-container {
  display:inline-grid;
  padding: 10px;
}
.grid-container2 {
  display: inline-grid;
  padding: 10px;
}
.grid-item3 {
  background-color: whitesmoke;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 14px;
  text-transform: uppercase;
}
.column {
  flex:50%;
}
